<table class="table datatable table-bordered table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th>Ammount</th>
								<th>Bill</th>
								<th>Profit</th>
								<th>Reason</th>
							</tr>
						</thead>
						<tbody>
							{{#each charges as |charge|}}
							<tr>
								<td>{{charge.time}}</td>
								<td>{{charge.cost}}</td>
								<td>{{charge.bill}}</td>
								<td>{{charge.profit}}</td>
								<td><b>{{charge.admin}}</b> Sent <b>{{charge.contactsReached}}</b> messages</td>
							</tr>
							{{/each}}
						</tbody>

					</table>